.item {
    border: solid 1px white;
    margin-bottom: 30px;
}

.image {
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     width: 100%;
     height: 200px;
}

.info {
    padding: 10px;
}

.info h2 {
    margin-bottom: 5px;
}

.info p {
    margin-bottom: 10px;
}